    <%- include('header');  -%>
    <div class="container">
        <i class="fas fa-key fa-5x"></i>
        <h1> Secrets</h1>
        <p> Don't keep your secrets, share them anonymously!</p>
        <hr> 
        <a href="/register" role="button" class="btn btn-light"> Register</a>
        <a href="/login" role="button" class="btn btn-dark"> Login </a>        
    </div>    
    <%- include('footer');  -%>
    


    
