<%- include('header');  -%>
<div class="container">
    <i class="fas fa-key fa-5x"></i>
    <h1 class="display-4"> You've discovered my secret </h1>
    <p class="lead centered"> I am struggling to gain stability!</p>
    <a href="/logout" role="button" class="btn btn-light">Log Out </a>
    <a href="/submit" role="button" class="btn btn-dark">Submit a secret</a>
    
</div>
<%- include('footer');  -%>







